h1.homeTitle {
  font-weight: normal;
  text-align: center;
  margin-top: 10px !important;
}

p.postPlaceholder {
  text-align: center;
  margin-top: 100px !important;
  font-size: 18px;
}

.newPost {
  position: relative;
  top: 250px;
  left: 900px;
}

label.inputTitle, label.messageBox, label.inputUser, input.inputTitleBox, input.messageBox, input.inputUserBox, label.replyMessage, label.replyUser, input.replyMessageBox, input.replyUserBox {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.createPostTitle {
  font-weight: normal;
  text-align: center;
  margin-top: 10px !important;
}

.messageBox {
  margin-left: 20px;
  margin-top: 10px;
  width: 1400px;
}

.createButton,  {
  display: block;
  float: right;
  margin-right: 18px !important;
}

.cancelButton {
    position: relative;
    left: 1685px;
}

button.ui.button.postReplyButton {
  display: block;
  float: right;
  margin-right: 30px;
}

button.ui.button.backButton {
  position: relative;
  float: right;
  bottom: 75px;
  margin-right: 30px;
}

.viewPostTitle {
  margin-left: 20px;
  font-size: 30px;
}

.viewPostMessage, .viewPostPoster, .replyMessage, .replyUser {
  margin-left: 20px;
  font-size: 18px;
}

.responsesHeader {
  margin-left: 20px;
  font-weight: normal;
  margin-top: 20px;
  /*margin-bottom: 150px;*/
}

.divider {
  margin-top: 50px;
  margin-bottom: 50px;
}

p.responseUser {
  margin-left: 80px;
  font-weight: bold;
}

p.responseMessage {
  margin-left: 80px;
}




